@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Sección logo y barra navegacion */
body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-color: #b5838d75; }
  body .bloquenav {
    margin: 10px;
    border-radius: 5px;
    background-image: url(../img/Fondo-Web-3.png);
    border-style: outset inset;
    border-width: 5px; }
    body .bloquenav .imglogo {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 25px;
      opacity: 60%; }
    body .bloquenav .container {
      font-size: 25px;
      justify-content: end; }
    body .bloquenav .navbar-nav {
      font-size: 15px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      opacity: 70%; }

/* Seccion Informacion del sitio */
.bloquemain {
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  background-image: url(../img/Fondo-Web-3.png);
  border-style: outset inset;
  border-width: 5px; }
  .bloquemain h1 {
    margin: 15px;
    margin-bottom: 40px;
    font-size: 18px;
    font-style: italic;
    opacity: 60%;
    text-align: center; }
  .bloquemain .parrafoindex {
    opacity: 65%;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    margin-right: 50px;
    margin-left: 50px; }
    .bloquemain .parrafoindex h2 {
      margin-top: 10px;
      margin-bottom: 30px;
      font-size: 14px;
      text-align: center; }
  .bloquemain .carousel-inner {
    margin: 30px;
    border-radius: 40px;
    width: 100%;
    height: 350px; }
  .bloquemain .titulospag {
    margin: 40px;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 50%; }
  .bloquemain .textopag {
    opacity: 50%;
    font-size: 15px;
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px; }
  .bloquemain .imginfo {
    text-align: center;
    opacity: 75%; }
    .bloquemain .imginfo .acido {
      width: 300px;
      background-size: cover;
      background-position: center;
      height: 300px;
      margin: 20px;
      border-style: inset;
      animation-duration: 8s;
      animation-name: aparecer;
      animation-iteration-count: infinite; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 5; } }
  .bloquemain .videoinfo {
    margin: 10px;
    width: 100%;
    height: 350px; }
  .bloquemain .formularioContacto {
    margin: 10%;
    margin-bottom: 20%;
    text-align: center;
    font-style: italic;
    font-weight: bold; }
  .bloquemain .divpuntosatencion {
    text-align: center;
    margin: 100px;
    text-decoration: underline; }
    .bloquemain .divpuntosatencion .imgmaps {
      margin: 40px;
      border-style: inset; }
    .bloquemain .divpuntosatencion .mapsgoogle {
      width: 120%;
      height: 400px;
      align-self: center;
      margin: 10px;
      justify-items: center;
      border-radius: 30px; }
  .bloquemain .divhorarios {
    text-align: center;
    margin-top: 50px; }
  .bloquemain .divcalendario {
    margin: 100px;
    text-align: center; }

.slide {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px; }

.slide img {
  height: 75vh; }

/* Seccion footer */
.bloquefooter {
  background-image: url(../img/Fondo-Web-3.png);
  margin: 10px;
  border-radius: 5px;
  border-style: outset inset;
  border-width: 5px; }
  .bloquefooter .footer1 {
    text-align: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; }
    .bloquefooter .footer1 .imglogofooter {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 25px;
      opacity: 60%; }
  .bloquefooter h3 {
    text-align: center;
    opacity: 70%;
    font-size: 14px; }
  .bloquefooter .textredes {
    text-decoration: none;
    font-size: 10px;
    margin-top: 30px;
    opacity: 70%; }
  .bloquefooter .whatsp {
    width: 20px;
    height: 20px;
    color: #070707;
    margin-right: 20px;
    opacity: 70%;
    margin-left: 20px; }

/* Seccion Media */
@media screen and (min-width: 768px) {
  .slide {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px; }
  .slide img {
    height: 95vh; } }

@media screen and (min-width: 1024px) {
  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-color: #b5838d75; }
    body .bloquenav {
      margin: 10px;
      border-radius: 5px;
      background-image: url(../img/Fondo-Web-3.png);
      border-style: outset inset;
      border-width: 5px; }
      body .bloquenav .imglogo {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin: 25px;
        opacity: 60%; }
      body .bloquenav .navbar-nav {
        font-size: 30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        opacity: 70%; }
  .bloquemain h1 {
    font-size: 36px; }
  .bloquemain .parrafoindex h2 {
    font-size: 30px; }
  .bloquemain .titulospag {
    font-size: 20px; }
  .bloquemain .textopag {
    font-size: 25px;
    text-align: center;
    margin: 50px; }
  .bloquemain .carousel-inner {
    width: 100%; }
  .bloquemain .videoinfo {
    margin: 10px;
    width: 100%;
    height: 500px;
    border-radius: 20px; }
  .bloquemain .divpuntosatencion .mapsgoogle {
    width: 100%;
    height: 400px; }
  .slide {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px; }
  .slide img {
    height: 90vh; }
  .bloquefooter .footer1 .imglogofooter {
    width: 350px;
    height: 350px; }
  .bloquefooter .textredes {
    font-size: 30px; }
  .bloquefooter .divfooter1 {
    margin-top: 60px; }
  .bloquefooter .whatsp {
    width: 40px;
    height: 40px; } }


    .productos-container {
      display: flex;
      flex-direction: column; /* Muestra los productos en una columna */
      align-items: center; /* Centra los productos horizontalmente */
      gap: 20px; /* Espacio entre los productos */
      max-width: 1200px; /* Limita el ancho del contenedor para que no se extienda demasiado en pantallas anchas */
      margin: 0 auto; /* Centra el contenedor horizontalmente en la página */
    }
    
    /* Añade estilos para cada producto si es necesario */
    
    

    #search-container {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
    
    #search-input {
      width: 200px;
      padding: 5px;
      margin-right: 10px;
    }
    
    #search-button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }