$colors-redes: rgb(7, 7, 7); 
$navbar-light-hover-color: red;
*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
/* Sección logo y barra navegacion */
body{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            display: flex;
            flex-direction: column;
            background-size: cover;
            background-color: #b5838d75;
            .bloquenav{
                margin: 10px;
                border-radius: 5px;
                background-image:url(../img/Fondo-Web-3.png);
                border-style: outset inset;
                border-width: 5px;
                .imglogo{
                    width: 150px;
                    height: 150px;
                    border-radius:50%;
                    margin: 25px;
                    opacity: 60%;}
                .container{
                    font-size: 25px;
                    justify-content: end;
                    }    
                .navbar-nav {
                    font-size: 15px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    opacity: 70%;}
                }
        }
/* Seccion Informacion del sitio */
        .bloquemain{
            margin-right:10px;
            margin-left: 10px;
            border-radius: 5px;
            background-image:url(../img/Fondo-Web-3.png);
            border-style: outset inset;
            border-width: 5px;
            h1{
                margin: 15px;
                margin-bottom: 40px;
                font-size: 18px;
                font-style: italic;
                opacity: 60%;
                text-align: center;}    
            .parrafoindex{
                opacity: 65%;
                font-size: 20px;
                font-style: italic;
                text-align: center;
                background-color: white;
                border-radius: 20px;
                margin-right: 50px;
                margin-left: 50px;
                h2{
                    margin-top: 10px;
                    margin-bottom: 30px;
                    font-size: 14px;
                    text-align: center;}
            }
            .carousel-inner{
                margin: 30px;
                border-radius: 40px;
                width: 100%;
                height: 350px;
                }
            .titulospag{
                margin: 40px;
                font-size: 20px;
                text-align: center;
                font-style: italic;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                opacity: 50%;
            }
            .textopag{
                opacity: 50%;
                font-size: 15px;
                background-color: white;
                border-radius: 10px;
                margin-right: 10px;
                margin-left: 10px;
            }
            .imginfo{
                text-align: center;
                opacity: 75%;
                .acido{
                    width: 300px;
                    background-size:cover;
                    background-position: center;
                    height: 300px;
                    margin:20px;    
                    border-style:inset;
                    animation-duration: 8s;
                    animation-name: aparecer;
                    animation-iteration-count: infinite;
                }
                    @keyframes aparecer {
                        0% {
                        opacity: 0;
                        }
                        100% {
                        opacity: 5;
                        }
                    }
            }
            .videoinfo{
                margin: 10px;
                width:100%;
                height:350px;
            }
            .formularioContacto{
                margin: 10%;
                margin-bottom: 20%;
                text-align: center;
                font-style: italic;
                font-weight: bold;
                    }
            .divpuntosatencion{
                text-align: center;
                margin: 100px;
                text-decoration: underline;
                .imgmaps{
                    margin: 40px;
                    border-style: inset;}
                .mapsgoogle{
                    width: 120%;
                    height: 400px;
                    align-self: center;
                    margin: 10px;
                    justify-items: center;
                    border-radius: 30px;}
                    }
            .divhorarios{
                text-align: center;
                margin-top: 50px;
                    }            
            .divcalendario{
                margin: 100px;
                text-align: center;
                    }
        }
        .slide{
            margin-top: 10px;
            margin-right: 10px;
            margin-left: 10px;
            }
        .slide img{
            height: 75vh;
            }       
/* Seccion footer */
        .bloquefooter{
            background-image:url(../img/Fondo-Web-3.png);
            margin: 10px;
            border-radius: 5px;
            border-style: outset inset;
            border-width: 5px;
            .footer1{
                text-align: center;
                justify-content: center;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
                .imglogofooter{
                    width: 150px;
                    height: 150px;
                    border-radius:50%;
                    margin: 25px;
                    opacity: 60%;
                }
            }
            h3{
                text-align: center;
                opacity: 70%;
                font-size: 14px;
            }                    
            .textredes{
                text-decoration: none;
                font-size: 10px;
                margin-top: 30px;
                opacity: 70%;
            }    
            .whatsp{
                width: 20px;
                height: 20px;
                color: $colors-redes;
                margin-right: 20px;
                opacity: 70%;
                margin-left: 20px;
            }
        }    

/* Seccion Media */

    @media screen and (min-width: 768px) {
        .slide{
            margin-top: 20px;
            margin-right: 20px;
            margin-left: 20px;
        }
        .slide img{
            height: 95vh;
        }
    }
    
    @media screen and (min-width:1024px)
    {
        body{
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            display: flex;
            flex-direction: column;
            background-size: cover;
            background-color: #b5838d75;
            .bloquenav{
                margin: 10px;
                border-radius: 5px;
                background-image:url(../img/Fondo-Web-3.png);
                border-style: outset inset;
                border-width: 5px;
                .imglogo{
                    width: 300px;
                    height: 300px;
                    border-radius:50%;
                    margin: 25px;
                    opacity: 60%;
                }
                .navbar-nav {
                    font-size: 30px;
                    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    opacity: 70%;}
                }
        }
        .bloquemain{
            h1{
                font-size: 36px;}
            .parrafoindex{
                h2{
                    font-size: 30px;}
            }
            .titulospag{
                font-size: 20px;
            }
            .textopag{
                font-size: 25px;
                text-align: center;
                margin: 50px;
            }
            .carousel-inner{
                width: 100%;
            }
            .videoinfo{
                margin: 10px;
                width:100%;
                height: 500px;
                border-radius: 20px;
            }
            .divpuntosatencion{
                .mapsgoogle{
                    width: 100%;
                    height: 400px;
                }
            }
        }        
        .slide{
            margin-top: 20px;
            margin-left: 50px;
            margin-right: 50px;
        }
        .slide img{
            height: 90vh;
        }
    .bloquefooter{
        .footer1{
            .imglogofooter{
                width: 350px;
                height: 350px;
            }
        }
            .textredes{
            font-size: 30px;
        }
        .divfooter1{
            margin-top: 60px;
        }
    }
    }